<div class="card mt-2 ml-2" style="width: 64rem;">
  <div class="card-body">
    <a href="/surat">
      <button type="button" class="btn btn-outline-danger mt-3 mb-3">Kembali</button>
    </a>
    <h3><b>Data Pembesuk</b></h3>
    <div class="mt-4 ml-4 mb-4">
    <h5 class="card-title"><b>NIK Pembesuk :</b> <%= surat.nik  %></h5>
    <h5 class="card-title"><b>Nama Pembesuk :</b> <%= surat.nama_pembesuk  %></h5>
    <h5 class="card-title"><b>Alamat</b></h5>
    <h7 class="card-title"><b>Provinsi :</b> <%= surat.provinsi  %></h7><br>
    <h7 class="card-title"><b>Kabupaten / Kota :</b> <%= surat.kabupaten  %></h7><br>
    <h7 class="card-title"><b>Kecamatan :</b> <%= surat.kecamatan  %></h7><br>
    <h7 class="card-title"><b>Kelurahan / Desa :</b> <%= surat.kelurahan  %></h7>
    <br>
    <br>
    <h5 class="card-title"><b>Hubungan :</b> <%= surat.hubungan  %></h5>
    </div>
    <br>
    <h3><b>Data Tahanan</b></h3>
    <div class="mt-4 ml-4 mb-4">
      <h5 class="card-title"><b>Registrasi Tahanan :</b> <%= surat.registrasi_tahanan  %></h5>
      <h5 class="card-title"><b>Nama Tahanan :</b> <%= surat.nama_tahanan %></h5>
      <h5 class="card-title"><b>Tempat Lahir :</b> <%= surat.tmp_lahir %></h5>
      <h5 class="card-title"><b>Tanggal Lahir Lahir :</b> <%= surat.tgl_lahir %></h5>
      <h5 class="card-title"><b>Jenis Kelamin :</b> <%= surat.jns_kelamin %></h5>
      <h5 class="card-title"><b>Pekerjaan :</b> <%= surat.pekerjaan %></h5>
    </div>

    <h5 class="card-title"><b>Tanggal Besuk Pertama :</b> <%= surat.tanggal1  %></h5>
    <h5 class="card-title"><b>Tanggal Besuk Kedua :</b> <%= surat.tanggal2  %></h5>
  </div>
</div>