
<div class="container">
  <div class="card mx-auto mt-5" style="max-width: 120rem;">
    <div class="card-body">
      <div class="mb-4 ml-6">
        <a href="/pengajuan/admin">
          <button type="button" class="btn btn-outline-danger">Kembali</button>
        </a>
      </div>
      <div class="row">
        <!-- Image section on the left -->
        <div class="col-md-4 text-center">
          <img src="/images/pengajuan/<%= pengajuan.gambar_ktp %>" 
              alt="<%= pengajuan.nama_pembesuk %>" 
              style="width: 300px; height: 300px; object-fit: cover; object-position: center; border-radius: 5px;">
        </div>
        <!-- Data section on the right -->
        <div class="col-md-8 ms-4"> <!-- Tambahkan kelas ms-4 untuk memberikan margin start -->
    <h5 class="card-title"><b>Nama Pembesuk :</b> <%= pengajuan.nama_pembesuk  %></h5>
    <h5 class="card-title"><b>Alamat Pembesuk :</b><%= pengajuan.alamat_pembesuk  %></h5>
    <h5 class="card-title"><b>Registrasi Tahanan :</b> <%= pengajuan.registrasi_tahanan %></h5>
    <h5 class="card-title"><b>Nama Tahanan :</b> <%= pengajuan.nama_tahanan  %></h5>
    <h5 class="card-title"><b>Nama Yang Diajukan :</b> <%= pengajuan.nama_tahananx  %></h5>
    <h5 class="card-title"><b>Hubungan :</b> <%= pengajuan.hubungan  %></h5>
    <h5 class="card-title"><b>Status :</b> <%= pengajuan.status_pengajuan  %></h5>

    <div class="mt-4">
            <% if (pengajuan.status_pengajuan !== 'Diterima' && pengajuan.status_pengajuan !== 'Ditolak') { %>
              <a href="/pengajuan/approve/<%= pengajuan.id %>" class="btn btn-success btn-lg">
                <i class="bi bi-check-circle"></i> Approve
              </a>
              <a href="/pengajuan/reject/<%= pengajuan.id %>" class="btn btn-danger btn-lg">
                <i class="bi bi-x-circle"></i> Reject
              </a>
            <% } else if (pengajuan.status_pengajuan === 'Diterima') { %>
              <span class="badge bg-success">Diterima</span>
            <% } else if (pengajuan.status_pengajuan === 'Ditolak') { %>
              <span class="badge bg-danger">Ditolak</span>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>