<div class="container-fluid">
  <a href="/pengajuan/admin">
    <button type="button" class="btn btn-outline-danger mt-5">Kembali</button>
  </a>
  <div class="row mt-4 text-center ">
      <div class="md-12 text-center">
          <h1>Edit Data pengajuan</h1>
      </div>
  </div>

  



<form action="/pengajuan/edit/admin" method="POST" enctype="multipart/form-data">

<div class="form-group">

                   <div class="form-group">
                        <input type="hidden" name="id" class="form-control" id="id" required value="<%= pengajuan.id %>">
                    </div>                
                    <div class="form-group">
                        <label for="nama_pembesuk">Nama pembesuk</label>
                        <input type="text" name="nama_pembesuk" class="form-control" id="nama_pembesuk" required value="<%= pengajuan.nama_pembesuk  %>">
                    </div>
                    <div class="form-group">
                        <label for="alamat_pembesuk">Alamat Pembesuk</label>
                        <input type="text" name="alamat_pembesuk" class="form-control" id="alamat_pembesuk" required value="<%= pengajuan.alamat_pembesuk %>">
                    </div>
                    <div class="form-group">
                        <label for="pekerjaan_pembesuk">Pekerjaan Pembesuk</label>
                        <input type="text" name="pekerjaan_pembesuk" class="form-control" id="pekerjaan_pembesuk" required value="<%= pengajuan.pekerjaan_pembesuk %>">
                    </div>

                    <div class="form-group">
                        <label for="hubungan">Hubungan</label>
                        <select name="hubungan" id="hubungan" class="form-control">
                            <option value="<%= pengajuan.hubungan %>"><%= pengajuan.id %>
                            </option>
                            <option value="Saudara / saudari">Saudara / saudari</option>
                            <option value="Keluarga">Keluarga</option>
                            <option value="Anak">Anak</option>
                            <option value="Orang Tua">Orang Tua</option>
                            <option value="Teman">Teman</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label for="registrasi_tahanan">Registrasi Tahanan</label>
                        <select name="registrasi_tahanan" id="registrasi_tahanan" class="form-control" required>
                            <option value="<%= pengajuan.registrasi_tahanan %>"><%= pengajuan.registrasi_tahanan %></option>
                            <% tahanans.forEach(tahanan => { %>
                            <option value="<%= tahanan.registrasi_tahanan %>"><%= tahanan.registrasi_tahanan %></option> 
                        <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nama_tahananx">Nama Tahanan</label>
                        <input type="text" name="nama_tahananx" class="form-control" id="nama_tahananx" required value="<%= pengajuan.nama_tahananx %>">
                    </div>
                    <div class="form-group">
                        <label for="tanggal_besuk">Tanggal Besuk</label>
                        <input type="date" name="tanggal_besuk" class="form-control" id="tanggal_besuk" required value="<%= new Date(pengajuan.tanggal_besuk).toLocaleDateString('en-CA', { timeZone: 'Asia/Makassar' }) %>">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="pengajuan_by" class="form-control" id="pengajuan_by" required value="<%= pengajuan.pengajuan_by %>">
                    </div> 
                    <div class="form-group">
                        <input type="hidden" name="tgl_pengajuan" class="form-control" id="tgl_pengajuan" required value="<%= new Date(pengajuan.tgl_pengajuan).toLocaleDateString('en-CA', { timeZone: 'Asia/Makassar' }) %>">
                    </div> 
                     <div class="form-group">
                        <label for="status_pengajuan">Status Pengajuan</label>
                        <select name="status_pengajuan" id="status_pengajuan" class="form-control">
                            <option value="<%= pengajuan.status_pengajuan %>"><%= pengajuan.status_pengajuan %>
                            </option>
                            <option value="Belum Diproses">Belum Diproses</option>
                            <option value="Diterima">Diterima</option>
                            <option value="Ditolak">Ditolak</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nomor_hp">Nomor WhatsApp</label>
                        <input type="text" name="nomor_hp" class="form-control" id="nomor_hp" required value="<%= pengajuan.nomor_hp %>">
                    </div> 
                    <div class="form-group mt-4">
                        <label for="gambar_ktp" class="form-label">Foto KTP</label>
                        <!-- Display the current image as a preview -->
                        <div class="mb-3">
                            <img src="/images/pengajuan/<%= pengajuan.gambar_ktp %>" alt="Gambar KTP" class="img-thumbnail" style="max-width: 200px;">
                        </div>
                        <input type="file" name="gambar_ktp" class="form-control">
                        <!-- Hidden input to keep the old image value if a new one is not uploaded -->
                        <input type="hidden" name="old_gambar_ktp" value="<%= pengajuan.gambar_ktp %>">
                    </div>

                    

<div mt-5>
  <button type="submit" class="btn btn-primary mt-4">Update</button>
</div>
</form>
</div>

<script>
            // Fungsi untuk format tanggal dan waktu
            function formatDate(date) {
                let day = String(date.getDate()).padStart(2, '0');
                let month = String(date.getMonth() + 1).padStart(2, '0'); // Januari adalah 0
                let year = date.getFullYear();
                let hours = String(date.getHours()).padStart(2, '0');
                let minutes = String(date.getMinutes()).padStart(2, '0');
                let seconds = String(date.getSeconds()).padStart(2, '0');
                
                return `${year}-${month}-${day}`;
            }

            document.addEventListener('DOMContentLoaded', (event) => {
                const now = new Date();
                const formattedDate = formatDate(now);
                document.getElementById('pembuatan').value = formattedDate;
            });
        </script>