
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>
        <body>

        <h1 style="text-align: center; margin-top: 20px;">Welcome, <%= user.username %>!</h1>
       
<!-- ======================= Cards ================== -->
        <div class="cardBox">
            <a href="/tahanan" style="text-decoration: none;">
                <div class="card">
                    <div>
                        <div class="numbers"><%= jumlahTahanan %></div>
                        <div class="cardName">Jumlah Tahanan</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="body-outline"></ion-icon>
                    </div>
                </div>
            </a>

            <a href="/pembesuk" style="text-decoration: none;">
                <div class="card">
                    <div>
                        <div class="numbers"><%= jumlahPembesuk %></div>
                        <div class="cardName">Jumlah Pembesuk</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                </div>
            </a>

            <a href="/surat" style="text-decoration: none;">
                <div class="card">
                    <div>
                        <div class="numbers"><%= jumlahSurat %></div>
                        <div class="cardName">Jumlah Surat</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                </div>
            </a>

            <a href="/pengajuan/admin/belum-diproses" style="text-decoration: none;">
                <div class="card">
                    <div>
                        <div class="numbers"><%= jumlahPengajuan %></div>
                        <div class="cardName">Pengajuan Yang Perlu Diproses</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </a>
        </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    <% if (message && message.type && message.text) { %>
        Swal.fire({
            position: 'center',
            icon: '<%= message.type %>',  // 'success' or 'error'
            title: '<%= message.text %>',
            showConfirmButton: false,
            timer: 2000  // Display for 2 seconds
        });
    <% } %>
</script>
</body>
</html>