<div class="card" style="width: 64rem;">
  <div class="card-body">
    <a href="/pengajuan">
    <button type="button" class="btn btn-outline-danger mt-5">Kembali</button>
  </a>
  <br>
  <div class="mt-4 ">
    <h5 class="card-title"><b>NIK Pembesuk :</b> <%= pengajuan.nik_pembesuk %></h5>
    <h5 class="card-title"><b>Nama Pembesuk :</b> <%= pengajuan.nama_pembesuk  %></h5>
    <h5 class="card-title"><b>Tempat Lahir Pembesuk :</b> <%= pengajuan.tmp_lahir_pembesuk  %></h5>
    <h5 class="card-title"><b>Jenis Kelamin Pembesuk :</b> <%= pengajuan.jns_kelamin_pembesuk  %></h5>
    <h5 class="card-title"><b>Alamat Pembesuk :</b></h5>
    <h7 class="card-title"><b>Provinsi :</b> <%= pengajuan.provinsi  %></h7><br>
    <h7 class="card-title"><b>Kebupaten :</b> <%= pengajuan.kabupaten  %></h7><br>
    <h7 class="card-title"><b>Kecamatan :</b> <%= pengajuan.kecamatan  %></h7><br>
    <h7 class="card-title"><b>Kelurahan / Desa :</b> <%= pengajuan.kelurahan  %></h7><br>
    <br>
    <h5 class="card-title"><b>kewarganegaraan :</b> <%= pengajuan.kewarganegaraan  %></h5>
    <h5 class="card-title"><b>Registrasi Tahanan :</b> <%= pengajuan.registrasi_tahanan %></h5>
    <h5 class="card-title"><b>Nama Tahanan :</b> <%= pengajuan.nama_tahanan  %></h5>
    <h5 class="card-title"><b>Hubungan :</b> <%= pengajuan.hubungan  %></h5>
    <h5 class="card-title"><b>Status :</b> <%= pengajuan.status  %></h5>
</div>
  </div>
</div>