<div class="container-fluid">
  <a href="/pengajuan">
    <button type="button" class="btn btn-outline-danger mt-5">Kembali</button>
  </a>
  <div class="row mt-4 text-center ">
      <div class="md-12 text-center">
          <h1>Edit Data pengajuan</h1>
      </div>
  </div>

  



<form action="/pengajuan/edit" method="POST">

<div class="form-group">

                    <div class="form-group">
                        <input type="hidden" name="id_pengajuan" class="form-control" id="id_registrasi" required value="<%= pengajuan.id_pengajuan  %>">
                    </div>                
                    <div class="form-group">
                        <label for="nik_pembesuk">NIK Pembesuk</label>
                        <input type="text" name="nik_pembesuk" class="form-control" id="nik_pembesuk" required value="<%= pengajuan.nik_pembesuk  %>"> 
                    </div>
                    <div class="form-group">
                        <label for="nama_pembesuk">Nama pembesuk</label>
                        <input type="text" name="nama_pembesuk" class="form-control" id="nama_pembesuk" required value="<%= pengajuan.nama_pembesuk  %>">
                    </div>
                    <div class="form-group">
                        <label for="tmp_lahir_pembesuk">Tempat Lahir Pembesuk</label>
                        <input type="text" name="tmp_lahir_pembesuk" class="form-control" id="tmp_lahir_pembesuk" required value="<%= pengajuan.tmp_lahir_pembesuk  %>">
                    </div>
                    <div class="form-group">
                        <label for="jns_kelamin_pembesuk">Jenis Kelamin</label>
                        <select name="jns_kelamin_pembesuk" id="jns_kelamin_pembesuk" class="form-control" required>
                          <option value="<%= pengajuan.jns_kelamin_pembesuk  %>"><%= pengajuan.jns_kelamin_pembesuk  %></option>
                          <option value="Laki-Laki">Laki-Laki</option>
                          <option value="Perempuan">Perempuan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pekerjaan_pembesuk">Pekerjaan Pembesuk</label>
                        <input type="text" name="pekerjaan_pembesuk" class="form-control" id="pekerjaan_pembesuk" required value="<%= pengajuan.pekerjaan_pembesuk  %>">
                    </div>
                    <div class="form-group">
                        <label for="provinsi">Provinsi</label>
                        <input type="text" name="provinsi" class="form-control" id="provinsi" required value="<%= pengajuan.provinsi  %>">
                    </div>
                    <div class="form-group">
                        <label for="kabupaten">Kabupaten</label>
                        <input type="text" name="kabupaten" class="form-control" id="kabupaten" required value="<%= pengajuan.kabupaten  %>">
                    </div>
                    <div class="form-group">
                        <label for="kecamatan">Kecamatan</label>
                        <input type="text" name="kecamatan" class="form-control" id="kecamatan" required value="<%= pengajuan.kecamatan  %>">
                    </div>
                    <div class="form-group">
                        <label for="kelurahan">Kelurahan / Desa</label>
                        <textarea name="kelurahan" class="form-control" id="kelurahan" rows="4" cols="50" required><%= pengajuan.kelurahan  %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="kewarganegaraan">kewarganegaraan</label>
                        <input type="text" name="kewarganegaraan" class="form-control" id="kewarganegaraan" required value="<%= pengajuan.kewarganegaraan  %>">
                    </div>
                    <div class="form-group">
                        <label for="registrasi_tahanan">Registrasi Tahanan</label>
                        <input type="text" name="registrasi_tahanan" class="form-control" id="registrasi_tahanan" value="<%= pengajuan.registrasi_tahanan  %>">
                    </div>
                    <div class="form-group">
                        <label for="nama_tahanan">Nama Tahanan</label>
                        <input type="text" name="nama_tahanan" class="form-control" id="nama_tahanan" required value="<%= pengajuan.nama_tahanan  %>">
                    </div>
                    <div class="form-group">
                        <label for="hubungan">Hubungan</label>
                        <select name="hubungan" id="hubungan" class="form-control" >
                            <option value="<%= pengajuan.hubungan  %>"><%= pengajuan.hubungan  %></option>
                            <option value="Saudara / saudari">Saudara / saudari</option>
                            <option value="Keluarga">Keluarga</option>
                            <option value="Anak">Anak</option>
                            <option value="Orang Tua">Orang Tua</option>
                            <option value="Teman">Teman</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">status</label>
                        <select name="status" id="status" class="form-control" >
                            <option value="<%= pengajuan.status  %>"><%= pengajuan.status  %></option>
                            <option value="Belum Diproses">Belum Diproses</option>
                            <option value="Sudah Selesai">Sudah Selesai</option>
                        </select>
                        
                    </div>
    

<div mt-5>
  <button type="submit" class="btn btn-primary mt-4">Update</button>
</div>
</form>
</div>

<script>
            // Fungsi untuk format tanggal dan waktu
            function formatDate(date) {
                let day = String(date.getDate()).padStart(2, '0');
                let month = String(date.getMonth() + 1).padStart(2, '0'); // Januari adalah 0
                let year = date.getFullYear();
                let hours = String(date.getHours()).padStart(2, '0');
                let minutes = String(date.getMinutes()).padStart(2, '0');
                let seconds = String(date.getSeconds()).padStart(2, '0');
                
                return `${year}-${month}-${day}`;
            }

            document.addEventListener('DOMContentLoaded', (event) => {
                const now = new Date();
                const formattedDate = formatDate(now);
                document.getElementById('pembuatan').value = formattedDate;
            });
        </script>