<div class="card mt-5" style="width: 64rem;">
  <div class="card-body">
    <h5 class="card-title"><b>Nama                        :   </b>  <%= pembesuk.nama_pembesuk  %></h5>
    <h5 class="card-title"><b>NIK   :</b>  <%= pembesuk.nik  %></h5>
    <h5 class="card-title"><b>Tempat Lahir :</b>  <%= pembesuk.tmp_lahir  %></h5>
    <h5><b>Alamat</b></h5>
    <h7 class="card-title"><b>Provinsi :</b> <%= pembesuk.provinsi  %></h7><br>
    <h7 class="card-title"><b>Kabupaten / Kota :</b> <%= pembesuk.kabupaten  %></h7><br>
    <h7 class="card-title"><b>Kecamatan : </b><%= pembesuk.kecamatan  %></h7><br>
    <h7 class="card-title"><b>Kelurahan / Desa :</b> <%= pembesuk.kelurahan  %></h7><br>
    <br>
    <h5 class="card-title"><b>Jenis Kelamin :</b> <%= pembesuk.jns_kelamin  %></h5>
    <h5 class="card-title"><b>Pekerjaan :</b> <%= pembesuk.pekerjaan  %></h5>
    <h5 class="card-title"><b>Kewarganegaraan :</b> <%= pembesuk.kewarganegaraan  %></h5>
    <a href="/pembesuk/" class="card-link">Kembali</a>
  </div>
</div>