<div class="card" style="width: 64rem;">
  <div class="card-body">
    <a href="/pengelolaan">
    <button type="button" class="btn btn-outline-danger mt-5">Kembali</button>
  </a>
  <br>
  <div class="mt-4 ">
    <h5 class="card-title"><b>Registrasi Perkara:</b> <%= pengelolaan.registrasi_perkara  %></h5>
    <h5 class="card-title"><b>Registrasi Tahanan :</b> <%= pengelolaan.registrasi_tahanan  %></h5>
    <h5 class="card-title"><b>Nama Tahanan :</b> <%= pengelolaan.nama_tahanan  %></h5>
    <h5 class="card-title"><b>Perkara :</b><%= pengelolaan.perkara  %></h5>
    <h5 class="card-title"><b>Tanggal Lahir :</b><%= pengelolaan.tgl_lahir  %></h5>
    <h5 class="card-title"><b>Pekerjaan :</b><%= pengelolaan.pekerjaan  %></h5>
    <h5 class="card-title"><b>kronologi :</b> <%= pengelolaan.kronologi  %></h5>
    <h5 class="card-title"><b>Jaksa 1 :</b> <%= pengelolaan.jaksa1  %></h5>
    <h5 class="card-title"><b>Jaksa 2 :</b> <%= pengelolaan.jaksa2  %></h5>
    <h5 class="card-title"><b>Jaksa 3 :</b> <%= pengelolaan.jaksa3  %></h5>
    <h5 class="card-title"><b>Jaksa 4 :</b> <%= pengelolaan.jaksa4  %></h5>
    <h5 class="card-title"><b>Barang Bukti :</b> <%= pengelolaan.barang_bukti  %></h5>
    <h5 class="card-title"><b>Melanggar Pasal :</b> <%= pengelolaan.melanggar_pasal  %></h5>
    <h5 class="card-title"><b>Lapas :</b> <%= pengelolaan.lapas %></h5>
    <h5 class="card-title"><b>Durasi Penahanan :</b> <%= pengelolaan.durasi_penahanan %></h5>
    <h5 class="card-title"><b>Tanggal Penuntutan :</b> <%= pengelolaan.tgl_penuntutan %></h5>
</div>
  </div>
</div>