
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <h1>Data Lapas Tahanan</h1>
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col-md-12">
                <a href="/lapas/tambah">
                <button type="button" class="btn btn-primary mt-4">Tambah Data</button>
                </a>
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col-md-12">
                <table id="tableLapas" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                                <th>No</th>
                                <th>Nama Lapas</th>
                                <th>Alamat</th>
                                <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <% lapass.forEach((lapas, i) => { %>
                         
                            <tr>
                                <td><%= i + 1  %></td>
                                <td><%= lapas.nama_lapas  %></td>
                                <td><%= lapas.alamat  %></td>
                                <td>
                                    <a href="/lapas/edit/<%= lapas.id %>" class="btn btn-warning badge rounded-pill"><i class="bi bi-pencil-square"></i> Edit</a>
                                    <a href="/lapas/delete/<%= lapas.id%>" onclick="return confirmDelete(event)">
                                        <button class="btn btn-danger badge rounded-pill"><i class="bi bi-trash"></i>Hapus</button>
                                    </a>
                                    <a href="/lapas/detail/<%= lapas.id  %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i>Detail</a> 
                                </td>
                                
                            </tr>
                            <% }) %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function confirmDelete(event) {
            event.preventDefault();
            const nip = event.currentTarget.getAttribute('href').split('/').pop();

            Swal.fire({
                title: "Apakah Kamu Yakin?",
                text: "Data ini akan terhapus selamanya!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Hapus!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Terhapus!",
                        text: "Data Lapas Berhasil DiHapus.",
                        icon: "success"
                    }).then(() => {
                        window.location.href = `/lapas/delete/${nip}`;
                    });
                }
            });

            return false;
        }
    </script>

    <script>
        <% if (message && message.type && message.text) { %>
            Swal.fire({
                position: 'center',
                icon: '<%= message.type %>',
                title: '<%= message.text %>',
                showConfirmButton: false,
                timer: 2000
            });
        <% } %>
    </script>

    <!-- Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#tableLapas').DataTable();
        });
    </script>

     <script>
    new DataTable('#tableLapas');
 </script>


</body>
</html>