
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <h1>Data Tahanan</h1>
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col-md-12">
                <a href="/tahanan/tambah">
                <button type="button" class="btn btn-primary mt-4">Tambah Data</button>
                </a>
            </div>
        </div>

        <div class="row mt-2">
    <div class="col-md-12 d-flex justify-content-between">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a href="/tahanan">
                    <button type="button" class="btn btn-outline-primary">All</button>
                </a>
                <a href="/tahanan/narkotika">
                    <button type="button" class="btn btn-outline-primary">Narkotika</button>
                </a>
                <a href="/tahanan/oharda">
                    <button type="button" class="btn btn-outline-primary">Oharda</button>
                </a>
                <a href="/tahanan/kamtibum">
                    <button type="button" class="btn btn-outline-primary">Kamtibum</button>
                </a>
            </div> 

           
            <div class="row mt-2">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <a href="/tahanan/cetak" class="btn btn-info me-2" target="_blank" style="margin-right: 0.1rem;">PDF</a>
                    <a href="/tahanan/download-excel" class="btn btn-success" style="margin-left: 0.1rem;">Excel</a>
                    <a href="/tahanan/download-csv" class="btn btn-secondary" target="_blank" style="margin-left: 0.1rem;">CSV</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    
        <div class="row mt-2">
            <div class="col-md-12">

                   <table id="tableTahanan" class="table table-striped table-centered" style="width:100%"> 
                    <thead>
                    <tr>

                        <th style="text-align: center; vertical-align: middle;">No</th>
                        <th style="text-align: center; vertical-align: middle;">Registrasi</th>
                        <th style="text-align: center; vertical-align: middle;">Nama Tahanan</th>
                        <th style="text-align: center; vertical-align: middle;">Perkara</th>
                        <th style="text-align: center; vertical-align: middle;">Izin Pembesukan</th>
                        <th style="text-align: center; vertical-align: middle; width: 250px;">Action</th>
                        <th style="text-align: center; vertical-align: middle; width: 100px;">File</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% tahanans.forEach((tahanan, i) => { %>
                         
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <%= i + 1 %></td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <%= tahanan.registrasi_tahanan %></td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <%= tahanan.nama_tahanan %></td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <%= tahanan.perkara %></td>
                                <td style="text-align: center; vertical-align: middle;">
                                        <% 
                                            const currentDate = new Date(); // Tanggal saat ini
                                            const tglSuratTuntutan = new Date(tahanan.tgl_surat_tuntutan);
                                            const differenceInDays = (currentDate - tglSuratTuntutan) / (1000 * 60 * 60 * 24); // Menghitung selisih hari
                                            const Status = differenceInDays > 14;
                                        %>
                                        <% if (Status) { %>
                                            <i class="fa-solid fa-check fa-2xl" style="color: #00ff1e;"></i>
                                        <% } else { %>
                                            <i class="fa-solid fa-xmark fa-xl" style="color: #ff0000;"></i>
                                        <% } %>
                                    </td>
                                <td style="text-align: center; vertical-align: middle;">
                                
                                     <a href="/tahanan/edit/<%= tahanan.id %>" class="btn btn-warning badge rounded-pill" style="color: white;">
                                    <i class="bi bi-pencil-square"></i> Edit
                                    </a>

                                    <% if (userRole === 'admin') { %>  <!-- Only render delete button for admin -->
                                    <a href="/tahanan/delete/<%= tahanan.id %>" onclick="return confirmDelete(event)">
                                        <button class="btn btn-danger badge rounded-pill">
                                            <i class="bi bi-trash"></i> Hapus
                                        </button>
                                    </a>
                                <% } %>

                                    <a href="/tahanan/detail/<%= tahanan.id  %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i>Detail</a> 
                                </td>

                                 <td style="text-align: center; vertical-align: middle;">
                                    <a href="/tahanan/cetak/<%= tahanan.id %>" >
                                    <i class="fa-solid fa-file-pdf fa-xl"></i>
                                    </a>

                                </td>
                                
                            </tr>
                            <% }) %>
                    </tbody>
                   </table>
                </div>
            </div>
        </div>


 

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function confirmDelete(event) {
    event.preventDefault(); // Prevent default link action

    const id = event.currentTarget.getAttribute('href').split('/').pop(); // Mendapatkan id dari href

    Swal.fire({
        title: "Apakah Kamu Yakin?",
        text: "Data ini akan terhapus selamanya!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Hapus!"
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: "Terhapus!",
                text: "Data Tahanan Berhasil DiHapus.",
                icon: "success"
            }).then(() => {
                // Redirect to delete URL after confirming
                window.location.href = `/tahanan/delete/${id}`;
            });
        }
    });

    
    return false; // Prevent default link action
}
</script>
<script>
    <% if (message && message.type && message.text) { %>
        Swal.fire({
            position: 'center',
            icon: '<%= message.type %>',  // 'success' or 'error'
            title: '<%= message.text %>',
            showConfirmButton: false,
            timer: 2000  // Display for 2 seconds
        });
    <% } %>
</script>
  


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
 <script>
    new DataTable('#tableTahanan');
 </script>



</body>